<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MsDev - Minka's Blog personal</title>
  <title>Blog</title>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
  <div class="container">
    <% if (post) { %>
      <h1><%= post.topic %></h1>
      <p><%= post.body %></p>
      <ul id="postsList">
        <% if (comments && comments.length > 0) { %>
          <% comments.forEach(comment => { %>
            <li>
              <small><%= comment.created_at %></small>
              <p><%= comment.body %></p>
              <small>By: <%= comment.username %></small>
              <% if (comment.user_id === user_id) { %>
              <a class="edit" href="/api/comments/update/<%= comment.comment_id %>">Edit</a>
              <a class="delete" href='/comments/delete/<%= comment.comment_id %>'>Delete</a>
              <% }%>
            </li>
          <% }); %>
        <% } else { %>
          <p>No comments available.</p>
        <% } %>
      </ul>
    <% } %>

      <form action="/comments/<%= post.post_id %>" method="POST">
        <textarea name="comment" placeholder="Add a comment..." required></textarea>
        <button type="submit">Submit</button>
      </form>
    <% } else { %>
      <p>Post not found.</p>
    <% } %>
  </div>
</body>
</html>
